[package]
name = "oxvg_napi"
version = "0.0.1"
edition = "2021"
license.workspace = true
repository.workspace = true
authors.workspace = true
description = "napi bindings for oxvg"
publish = false

[lints]
workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib"]

[dependencies]
oxvg_optimiser = { workspace = true, features = ["napi"] }
oxvg_ast = { workspace = true, features = ["roxmltree", "serialize"] }

# Default enable napi4 feature, see https://nodejs.org/api/n-api.html#node-api-version-matrix
napi = { workspace = true }
napi-derive = { workspace = true }
roxmltree = { workspace = true }
typed-arena = { workspace = true }

[build-dependencies]
napi-build = { workspace = true }
