[package]
name = "oxvg_wasm"
version = "0.0.3"
edition = "2021"
license.workspace = true
repository.workspace = true
authors.workspace = true
description = "wasm bindings for oxvg"
publish = false

[lints]
workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib"]

[dependencies]
oxvg_optimiser = { workspace = true, features = ["wasm"] }
oxvg_ast = { workspace = true, features = ["roxmltree", "serialize"] }

console_error_panic_hook = "0.1.7"
getrandom = { workspace = true, features = ["wasm_js"] }
roxmltree = { workspace = true }
serde_json = { workspace = true }
serde-wasm-bindgen = { workspace = true }
typed-arena = { workspace = true }
wasm-bindgen = { workspace = true }

[dev-dependencies]
