name: checks
env:
  CARGO_TERM_COLOR: always

on:
  push:
  pull_request:

jobs:
  formatting:
    name: Rust formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Rust formatting
        run: cargo fmt --all --check
